html, body {
    padding: 0;
    margin: 0;
    font-family: Cormorant Garamond;
}

header {
    margin: 0;
    padding: 1.5em;
    background-color: #343434;
}

section {
    padding: 25px 0;
    background-color: #eee;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: Satisfy, cursive;
    color: #eee;
    font-size: 64pt;
}

h2 {
    margin: 0;
    font-family: Satisfy, cursive;
    color: #343434;
    font-size: 52pt;
    text-align: center;
}

h3 {
    margin: 0;
    font-family: Cormorant Garamond;
    color: #343434;
    font-size: 36pt;
}

p {
    text-align: justify;
    color: #343434;
    font-size: 14pt;
}

a {
    color:hsl(0, 0%, 75%);
    text-decoration: none;
}

.member {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.member-left {
    text-align: left;
    flex-direction: row;
}

.member-right {
    flex-direction: row-reverse;
}

@media (min-width: 630px) {
    .member-right {
        text-align: right;
    }
}

.member-info {
    flex-grow: 1;
    width: 300px;
    margin: 10px;
}

.img-member {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px 0;
    border:#eee;
    border-width: 5px;
    border-style: solid;
}

.banner {
    display: flex;
    justify-content: center;
    background: linear-gradient(#343434, #eee);
    padding: 0 px;
}

.banner-img {
    display: block;
    max-width: 100%;
    border-style: solid;
    border-color: #eee;
    border-width: 10px;
    box-shadow: 0 5px 5px 0 #b8b8b8;
    margin: -10px;
}

figcaption {
    margin-top: 15px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 25px;
}

footer {
    text-align: center;
    color: hsl(0, 0%, 50%);
    background-color: #343434;
    padding: 10px;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}
