html, body {
    padding: 0;
    margin: 0;
    font-family: Cormorant Garamond;
}

header {
    margin: 0;
    padding: 1.5em;
    background-color: #343434;
}

section {
    padding-top: 25px;
    background-color: #eee;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: Satisfy, cursive;
    color: #eee;
    font-size: 64pt;
}

h2 {
    margin: 0;
    font-family: Satisfy, cursive;
    color: #343434;
    font-size: 52pt;
    text-align: center;
}

h3 {
    margin: 0;
    font-family: Cormorant Garamond;
    color: #343434;
    font-size: 36pt;
}

p {
    text-align: justify;
    color: #343434;
    font-size: 14pt;
}

.member {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.member-left {
    text-align: left;
    flex-direction: row;
}

.member-right {
    text-align: right;
    flex-direction: row-reverse;
}

.member-info {
    flex-grow: 1;
    width: 300px;
}

.img-member {
    border-radius: 50%;
    height: 250px;
    margin: 25px;
    box-shadow: 0 0 5px 0;
    border:#eee;
    border-width: 5px;
    border-style: solid;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner-img {
    display: block;
    max-width: 100%;
    max-height: 50%;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 10px;
}

footer {
    text-align: center;
    color: #eee;
    background-color: #343434;
    padding: 10px;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}
